SUPBASE_URL=https://your-project.supabase.co
SUPBASE_PUBLISHABLE_KEY=your-publishable-key
DATABASE_URL="postgresql://USER:PASSWORD@POOLER:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@POOLER:5432/postgres"
